@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Merriweather+Sans&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Poppins:wght@200;400;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  border: red;
  margin: 0;
}

body {
  /* height: 100vw; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100%;
  width: 100%;
}

.header {
  margin: 15px;
}

.header_h1 {
  color: hsl(228, 4%, 45%);
  font-weight: 200;
  font-size: 28px;
  padding: 10px 10px 0px 10px;
}

.header_h2 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  font-size: 28px;
}

.header_para {
  color: hsl(229, 6%, 66%);
  font-weight: 200;
  font-size: 15px;
  padding: 15px 480px;
  text-align: center;
}

.card_header {
  padding: 15px;
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  font-size: 17px;
}

.card_para {
  padding: 0px 15px;
  color: hsl(229, 6%, 66%);
  font-weight: 200;
  font-size: 15px;
}

.main {
  /* border-style: dashed; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  /* border-style: dotted; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-container {
  /* border-style: groove; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
}

.div_card {
  width: fit-content;
  height: fit-content;
}

.card {
  /* border-top-style: ridge; */
  margin: 15px;
  border-top-width: thick;
  border-radius: 5px;
  width: 300px;
  height: 220px;
  box-shadow: 0px 0px 15px rgb(226, 241, 248), -0px 0px 15px rgb(226, 241, 248),
    0px 5px 20px rgb(226, 241, 248);
}

/* .card_header {
  padding: 20px;
}

.card_para {
  padding: 0px 20px;
} */

.logo {
  padding: 25px;
  text-align: end;
}

.card1 {
  border-top-color: hsl(180, 62%, 55%);
}

.card2 {
  border-top-color: hsl(0, 78%, 62%);
}

.card3 {
  border-top-color: hsl(34, 97%, 64%);
}

.card4 {
  border-top-color: hsl(212, 86%, 64%);
}
